.title-logo {
    background-image : url("../static/assets/title-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 40em;
    height: 20em;
}

.circle-goblin {
    background-image : url("../static/assets/circle-goblin.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 11em;
    height: 11em;
    margin-bottom: 1vh;
}

.player-goblin {
  background-image : url("../static/assets/player-goblin.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 11em;
  height: 12em;
  margin-bottom: 1vh;
}

/** For the button **/
.pushable {
    background: #01B1B4;
    border-radius: 0.75em;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 0.25em;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 1em;

}

.front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: #00FFFF;
    color: #1C0038;
    transform: translateY(-6px);
    text-align: center;
}

.pushable:active .front {
    transform: translateY(-2px);
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}

.front {
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }

.pushable:hover .front {
    transform: translateY(-6px);
    transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
    transform: translateY(-0.125em);
    transition: transform 34ms;
}

/** For the blinking arrow **/
.arrow {
  width: 0.625em;
  height: 0em;
  margin: 6vh auto;
  border-radius: 0.1875em;
  background: linear-gradient(to bottom, rgba(255,255,255,0), #00FFFF 75%);
  -webkit-animation: 3s soft-blink infinite alternate;
  animation: 3s soft-blink infinite alternate;
  position: relative;
  opacity: 0;
}

@-webkit-keyframes soft-blink {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 0.8; }
}

@keyframes soft-blink {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 0.8; }
}

.arrow:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: - (1.25em + 0.375em) / 1.5;
  border-bottom: 0.375em solid #00FFFF;
  border-right: 0.375em solid #00FFFF;
  border-top: 0.375em solid transparent;
  border-left: 0.375em solid transparent;
  border-radius: 0.25em;
  width: 1.25em;
  height: 1.25em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/** For the About Page **/
.sm-title-logo {
  background-image : url("../static/assets/sm-title-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 30em;
  height: 15em;
  margin: 1em;
  margin-bottom: 0em;
}

.text {
  font-size: 1.7em;
  background-color: rgba(0, 87, 94, 0.37);
  padding: 2em 3em 2em 3em;
  border-radius: 4em;
}

.text-2 {
  font-size: 1.5em;
  background-color: rgba(0, 87, 94, 0.37);
  padding: 1em 3em 1.5em 3em;
  border-radius: 2em;
}

/** For the Event Page **/
.squid-game-event {
  background-image : url("../static/assets/squid-game-event.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 55em;
  height: 5em;
  margin: 4em;
  margin-bottom: 1em;
}

/** For the Mint Page **/
.xs-title-logo {
  background-image : url("../static/assets/xs-title-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 11em;
  height: 5.5em;
  margin-top: 8em;
}

.gachapon {
  background-image : url("../static/assets/gachapon.gif");
  background-position: center;
  background-repeat: no-repeat;
  width: 20.625em;
  height: 42em;
}

.frontman {
    background-image : url("../static/assets/frontman.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 18.75em;
    height: 13.125em;
    margin-top: 38em;
}

.triangle {
  background-image : url("../static/assets/triangle.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 18.75em;
  height: 13.125em;
  margin-top: 40em;
  margin-left: 2em;
}

.player-067 {
  background-image : url("../static/assets/player-067.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 18.75em;
  height: 13.125em;
  margin-top: 40em;
  margin-left: 3.3em;
}

/** For the Team Page **/
.sm-2-title-logo {
  background-image : url("../static/assets/sm-2-title-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 22em;
  height: 11em;
  margin: 0% auto;
  margin-bottom: 1em;
}

.team {
  background-image : url("../static/assets/team.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 465px;
  height: 427px;
  margin: 0% auto;
}


