.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: "04b_25", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image : url("static/bgs/bg1.gif");
  background-repeat: no-repeat; */
}

